@import "../../assets/scss/colors.scss";
.loginSection{
    min-height: 100vh;
    background-color: $primary;
}

.loginContainer{
    height:33rem;
    // background-color: rgb(158, 74, 74);
}
.loginRow{
    align-items: center;
    height: 100%;
}

.formControlContainer{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formControl{
    // background-color: rgb(107, 102, 102);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    padding: 1.2rem;
    min-height: 15rem;
}

.loginQuentinTitle{
    color: $fourth;
    text-shadow: 2px 2px 1px $fifth;
    font-style: italic;
    font-size: 3.4rem;
    font-weight: 500;
    font-family: fantasy;
    letter-spacing: 0.2rem;
}
.titleHomeContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.dancingSvg{
    width: 14rem;
    filter: brightness(0.2);
}

.createUserForm{
    min-height: 15rem;
}
.userInvalidSection{
    height: 2.5rem;
    display: flex;
    justify-content: center;
}
.userInvalidContainer{
    width: 70%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(219, 218, 218, 0.993);
    border-radius:20px ;
    align-self: center;
    border: 2px solid $fourth;
}

.userInvalid{
    text-align: center;
    color: $fourth;
    font-weight: 700;
    transition: all .5s ease;
    padding: 0;
    margin: 0;
}